@model List<BarbisanWebProject.Models.Schalungselement>
@{
    ViewBag.Title = "Schalungselemente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3>Schalungselemente</h3>*@

<div class="schalungselement-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Schalungselemente </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="img-thumbnail" src="~/Pics/TrioPic270x240.JPG" />
                    <h3 class="name">Peri Trio</h3>
                    <p class="title">Nr. 271</p>
                    <p class="description">Trio-Element<br> TR 270 x 240<br></p>
                    <h5 class="name">Miete pro Monat</h5>
                    <p class="description"><strong>Fr. 121.50.-</strong></p>
                    <button class="btn btn-outline-primary btn-block">Hinzufügen</button>
                </div>
            </div>
        </div>
    </div>
</div>



