@{
    ViewBag.Title = "Contact";
}
<h3>Kontakt</h3>

<address>
	Roger Brügger<br />
	Lindenstrasse 14<br />
	6340 Baar<br />
	<abbr title="Phone">Mobil:</abbr>
	+41 (0)79 642 62 52 <br />
	<abbr title="Phone">Geschäft:</abbr>
	+41 (0)41 769 60 00
</address>

<address>
	<strong>E-Mail:</strong>   <a href="mailto:info@barbisan-bruegger.ch">info@barbisan-bruegger.ch</a><br />
</address>