@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron pb-xl-2 mb-3">
	<h1>Firmengeschichte</h1>
	<p class="lead">
		Barbisan & Brügger AG ist ein erfahrenes Akkordunternehmen mit 30 Mitarbeitenden und einem vielseitigen Tätigkeitsbereich.
		Das 1987 durch Roger Brügger gegründete Unternehmen hat sich zu einem umfassenden Baudienstleister  entwickelt.
	</p>
	<p>
		Als Inhabergeführtes Unternehmen legen wir grossen Wert auf einen starken Dienstleistungsgedanken und ein partnerschaftliches Miteinander mit unseren Kunden.
		Langjährige Erfahrung, fundiertes Fachwissen und nachhaltige Qualität - das Fundamenthierfür bilden unsere qualifizierten und engagierten Mitarbeiter.
		Sie sind unser wichtigstes Gut. Barbisan & Brügger AG ist heute in der Erstellung von Maurer- und Schalungsarbeiten tätig.
	</p>
	<p>
		@Html.ActionLink( "Neu Vermietung von Schalungen", "Schalungselemente", "Schalungselement", routeValues: null, htmlAttributes: new { @class = "barbisanColor btn btn-primary btn-lg rounded" } )
		@*<a href="#" class="barbisanColor btn btn-primary btn-lg rounded">Neu Vermietung von Schalungen &raquo;</a>*@
	</p>
</div>
<div class="row justify-content-center">
	<div class="col-md-8 col-sm-12 rounded-circle img-hover-zoom">
		<img src="~/Pics/5_Area_ex_Appiani_foto_Enrico_Cano.jpg" class="img-fluid rounded-circle shadow-lg" />
	</div>
</div>
@*<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>*@

