.schalungselement-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.schalungselement-boxed p {
  color: #7d8285;
}

.schalungselement-boxed .elemente {
  padding: 25px 0;
}

.schalungselement-boxed .item {
  text-align: center;
}

.schalungselement-boxed .item .box {
  text-align: center;
  padding: 25px;
  background-color: #fff;
  margin-bottom: 25px;
  max-width: 350px;
}

.schalungselement-boxed .item .name {
  margin-top: 15px;
}

.schalungselement-boxed .item .articleNumber {
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.schalungselement-boxed .item img {
  /*float: left;*/
  max-width: 160px;
  max-height: 200px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.schalungselement-boxed .item img:hover {
	
}

.minusPlus {
    max-width: 200px;
    margin: 30px auto;
}

.minusPlus .input-number {
   text-align: center;
   margin: 0px 5px;
}
