html {
	height: 100%;
}

body {
	/*padding-top: 10px;
    padding-bottom: 10px;*/
	height: 100%;
	/*padding: 10px 15px;*/
	background-image: url('../Mauer.JPG');
	background-attachment: fixed;
	/*background-size: cover;*/
	background-repeat: repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding: 25px;
	background-color: white;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.barbisanColor {
	background-color: #901024;
}

.navbar img{
	max-height: 100px;
	max-width: 200px;
}

.carousel-item
{
	background-color: white;
    max-width: 1500px;
    max-height: 500px;
}

.header {
	background-color: white;
	max-width: 100%;
	/*max-height: 100%;*/
	margin-bottom: 0;
	padding: 5px;
}

.header p {
	color: #901024;
}

/*Boostrap Overrides!*/
.navbar {
	padding: 0.5rem 1rem;
}
