body {
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 10px 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding: 25px;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#navbar {
	background-color: #901024;
}

#navbarHeaderImage {
	padding-top:20px;
}

.carousel-item
{
    max-width: 1500px;
    max-height: 500px;
}
/*Boostrap Overrides!*/
.navbar {
    padding: 0.5rem 1rem;
}
